torch
torchvision
torchaudio
transformers
numpy
scipy
pandas
scikit-learn
tqdm
matplotlib
joblib
soundfile
onnx
onnxoptimizer
onnxruntime
onnxruntime-tools
wandb
torch-geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
